a.out
*.o
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.Tpo
domino
domino_to_chipmunk
mutator
canonicalizer
*.a
*.so
test-driver
echo_test
*.log
*.trs
if_converter_test
strength_reducer_test
expr_flattener_test
scc_test
complicated_scc_test
graph_dot_constructor
__pycache__
*.spec
compile_commands.json
grouper
.vscode/
